body {
  margin: 0; 
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

h1, 
h2, 
strong {
  font-weight: 900;
}

img {
  width: 100%;
}

header {
  background: #2E354F; 
  padding: 45px 0;
  color: #FFF;
}

section {
  padding: 45px 0;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
}

a {
  color: #EF5839;
}

.container {
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
}

.section-one {
  background: #FFF;
} 

.section-one--title {
  color: #EF5839;
} 

.section-one--content {
  color: #2E354F;
}

.section-one--content__bold {
  color: #2E354F;
}

.section-two {
  background: #2E354F;
}

.section-two--title {
  color: #EF5839;
}

.section-two--content {
  color: #FFF;
}

.section-two--content__bold {
  color: #FFF;
}

.btn {
  display: inline-block;
  background: #FFF;
  padding: 10px 15px;
  margin-right: 3px; 
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
}

.btn-accent {
  background: #EF5839;
  color: #FFF;
}

.btn:hover, .btn:focus {
  background: black;
  color: #FFF;
}
